* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span {
    margin: 3rem;
    font-size: 2rem;
}

button {
    width: 6rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 1rem;
    outline: none;
}

button:active {
    background-color: purple;
}

.firstnNumber {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-rows: 15% 15% 15% 15%;
    grid-template-columns: repeat(9, 10%);
    grid-gap: .6rem;
}